In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel(r"D:\Coding\Data-Prep-EDA\Code\Data\Student Grades.xlsx")
df.head()

  Student             Class      Year  Grade
0    Emma  Freshman Seminar  Freshman   86.0
1  Olivia  Freshman Seminar  Freshman   86.0
2    Noah  Freshman Seminar  Freshman   86.0
3  Sophia  Freshman Seminar  Freshman   87.0
4    Liam  Freshman Seminar  Freshman   90.0

In [3]:
df.Class.value_counts()

Class
Intro to Python              25
Intro to SQL                 20
EDA                          13
Freshman Seminar             12
Exploratory Data Analysis    12
Python                        1
Name: count, dtype: int64

In [4]:
class_mappings = {"Intro to Python": "Intro to Python",
                  "Intro to SQL": "Intro to SQL",
                  "EDA": "EDA",
                  "Freshman Seminar": "Freshman Seminar",
                  "Exploratory Data Analysis": "EDA",
                  "Python": "Intro to Python"}

In [6]:
df.Class = df.Class.map(class_mappings)
df.Class.value_counts()

Class
Intro to Python     26
EDA                 25
Intro to SQL        20
Freshman Seminar    12
Name: count, dtype: int64